<!DOCTYPE html>
<html>
    <head>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <h6>6480431ffb1c112cdddd5ce9</h6>
        <h6><%= posts%>  </h6>
        

        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <p class="decode-blog">Some LOGO</p>
                </div>
                <div class="col-sm-8">
                    <!-- <div style="background: #FFFFFF;margin-right: 10px;">
                        <div
                            class="cards-blank">
                        

                            <% category.forEach(cat => {%>
                                <a class="prognozy-v-it" href="/<%=cat.key%>"><%=cat.name%></a>
                            <%
                       }) %>
                        </div>


                    </div> -->
                </div>
                <div class="col-sm-2">
                    <img src="/images/avatar.png" alt="" width="73" height="73">
                </div>
            </div>
        </div>

        <div class="component-1">

            <%- include('./partials/head'); %>

            <div class="container">
                <form action="/api/createdeal/" method='POST' class="form" >

                    <br>


                    <br>
                    <!-- address:String,
                                                title:String,
                                                good:{type:Schema.Types.ObjectId,ref:  "post"},
                                                key:Number,
                                                titleDescription:String,
                                                image:String,
                                                author:{type:Schema.Types.ObjectId,ref: "Users"},
                                               
                                                quantity:Number,
                                                date:{default:Date.now,type:Date}
                    
                    
                                                [15:44, 07.06.2023] Олжас Иманбаев: 1. Наименование ИП или ТОО 2
                                                [15:45, 07.06.2023] Олжас Иманбаев: 2. ФИО кто подает заказ
                                                [15:45, 07.06.2023] Олжас Иманбаев: 3 Адрес
                                                [15:45, 07.06.2023] Олжас Иманбаев: 4 Ассортимент товара
                                                [15:46, 07.06.2023] Олжас Иманбаев: 5 Дата Поставки
                                                [15:47, 07.06.2023] Олжас Иманбаев: 6. Форма оптаты (наличка, каспи, конс)
                                                [15:47, 07.06.2023] Олжас Иманбаев: Если конс, то период конса (с 01.01.01 по 02.01.01) -->

                
                    <div class="form-group">
                        <label for="exampleFormControlInput1"></label>
                        <input class="form-control" type="text" placeholder="Введите Наименование ИП или ТОО" name="nameOrganization"/>
                        <input class="form-control" type="text" placeholder="ФИО кто подает заказ" name="fioOrder">
                        <input class="form-control" type="text" placeholder="Введите Адрес магазина" name="address">
                     
                        <input type="hidden" name="good" value="<%=posts._id %>" />
                          
                       


                        <label for="start">Выберите Дату поставки:</label>

                        <input type="date" id="start" name="postavkaDate" value="" min="" max="" >
                        <br>
                        <label >Наименование <%=posts.title%></label>
                        <br>
                        <input class="form-control" type="number" placeholder="Введите количество товара не более - <%=posts.defaultQuantity%>" name="quantity" min="1"  max="<%=posts.defaultQuantity%>">


                            <label for="start">Выберите Форму оплаты</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payForm" id="exampleRadios1" value="cash" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                  Наличными
                                </label>
                              </div>



                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="payForm" id="exampleRadios1" value="kaspi" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                  Каспи
                                </label>
                              </div>


                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="payForm" id="exampleRadios1" value="consignation" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                  Консигнация
                                </label>
                                <label>   Введите период консигнации</label>
                                
                                Начало
                                <input type="date" id="startCons" name="consDateStart" value="" min="" max="" >
                                Конец
                                <input type="date" id="endCons" name="consDateEnd" value="" min="" max="" >
                            </div>




                        </div>
                        
           


                        <br>
                        <div>
                            <button class="najtiButton" type="submit">Создать</button>
                        </div>
                    </form>
                </div>
            </div>


            <!-- <img alt="" class="line-1" src="https://static.overlay-tech.com/assets/217a8777-d638-4edd-9084-0293a36069e0.png"/> -->
        </body>
    </body>
</html>

