<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <%- include('./partials/head'); %>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Chillup</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                 
                </ul>
                <span class="navbar-text">
                    <ul class="navbar-nav mr-auto">
                    <%if (user._id){ %>
                        <li class="nav-item">
                        <a href="/profile/<%=user._id%>" class="nav-link">
                              <div style="display: flex ; align-items: center;"> 
                                <h6><%=user.full_name%></h6>
                                    <img src="/images/avatar.png" alt="" width="73" height="73">
                                </div>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class='nav-link' href="/api/signout/" >
                            Выход
                        </a>
                        </li>
                    <%}else{%>
                      
    
                            <li class="nav-item">
                                <a class="nav-link" href="/register" style="">
                                    Регистрация
                                </a>
                                </li>

                                <li class="nav-item">
                                <a class="nav-link"style="t" style="text-decoration: none;" href="/signin">Вход</a>
                            </li>
                    
                    <%}%>
                    </ul>
                </span>
                </div>
            </nav>
        </div>



        <div class="">
         

      
        <!-- <div class="flex-wrapper-three">
            <div class="box-main">
                <div style="width: 80%;background: #FFFFFF;    margin: 0px 1%;">
                    <%posts.forEach(item=>{
                                    for (i in user) {
                                        // console.log(i)
                                    }
                                    // if (item.author==allUsers._id){
                                    //     console.log('item author=   ',item.author)
                                    //     console.log('user._id=   ',allUsers._id)
                                    //     console.log('allUsers=   ',allUsers.full_name)
                                    
                                
                                    %>
                    <div class="card">

                        <div class="article">
                            <img alt="" class="image-1" src="<%=item.image%>"/>


                            <div class="box">
                                <div class="box">
                                    <div style="width: 95%;">
                                        <%=item.title%>
                                    </div>

                                    <div style="width:5%">
                                        <a href="/more/<%=item._id%>">
                                            Подробнее</a>
                                    </p>


                                </div>
                            </div>
                        </div>
                        <p class="obzor-report-manager-ot-webix">
                            <%=item.titleDescription%><br/>
                        </p>
                        <p class="osen-2020-goda-stala-plodotvornym-vreme">

                            <br/>
                            <%=item.posttext%>
                        </p>

                        <div class="box">
                            <div class="box">
                                <div style="width: 20%;padding: 10px;">
                                    <img src="/images/calendar.png"/>
                                </div>

                                <div style="width:80%">
                                    <p class=""><%=item.date%></p>
                                </div>

                            </div>


                            <div class="box">
                                <div style="width: 20%;padding: 10px;">
                                    <img src="/images/eye.png"/>
                                </div>

                                <div style="width:80%">
                                    <p class="">21</p>
                                </div>

                            </div>


                            <div class="box">
                                <div style="width: 20%;padding: 10px;">
                                    <img alt="" class="message" src="https://static.overlay-tech.com/assets/27ff86e9-732f-4068-87e7-3a5384fa319d.svg"/>
                                </div>

                                <div style="width:80%">
                                    <p class="">4</p>
                                </div>
                            </div>


                            <div class="box">
                                <div style="width: 20%;padding: 10px;">
                                    <img alt="" class="forums" src="https://static.overlay-tech.com/assets/32823ebb-3477-4992-9bf0-0b01dbc2b3eb.svg"/>
                                </div>

                                <div style="width:80%">
                                    <p class=""><%=item.category.name%></p>
                                </div>

                            </div>


                            
                            <a href="/userposts/<%=item.author._id%>">
                            <div class="box">
                                <div style="width: 20%;padding: 10px;">
                                    <img src="images/user.png"/>
                                </div>

                                <div style="width:80%">
                                    <p class=""><%=item.author.full_name%></p>
                                </div>

                            </div>
                            </a>
                        </div>


                    </div>
                </div>

              

            <%
                }) %>
                <div class="pages" style="margin: 0 5%;">
                <% 
                    let localsString = ''
                    console.log('locals.search=  ',locals.search)
                        if(locals.Categories){
                            localsString = `Categories=${locals.Categories}&`
                        }
                        if(locals.search){
                            localsString = `search=${locals.search}&`
                        }
                    for(let i=0;i<pages;i++){
                        console.log('pages=    ',pages)
                %>
                <a href="?<%=localsString%>page=<%=i%>"><%=i+1%></a>
                <%
                    }
                %>
            </div>
                 </div>

      

        <div style="width: 20%;background: #FFFFFF;margin-right: 10px;">
            <div class="cards-blank">

                <p class="kategorii">Категории</p>
                <% category.forEach(cat => {%>
                    
                    <a class="prognozy-v-it" href="?Categories=<%=cat.key%>"><%=cat.name%></a>
                    <br>
                <% }) %>
            </div>

        </div> -->

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>

