<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>

        <div class="container">
            <%- include('./partials/head'); %>
      
            <!-- <h6><%=deal%></h6> -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Chillup</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                 
                </ul>
                <span class="navbar-text">
                    <ul class="navbar-nav mr-auto">
                    <%if (user._id){ %>
                        <li class="nav-item">
                            
                            <a class='nav-link' href="/createclient" >Создать клиента</a>
                        </li>
                        <li class="nav-item">
                            
                            <!-- <a class='nav-link' href="/adddeal" >Создать сделку</a> -->
                            <a class='nav-link' href="/adddeal" >Создать сделку</a>
                        </li>

                        <li class="nav-item">
                        <a href="/profile/<%=user._id%>" class="nav-link">
                              <div style="display: flex ; align-items: center;"> 
                                <h6><%=user.full_name%></h6>
                                    <img src="/images/avatar.png" alt="" width="73" height="73">
                                </div>
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class='nav-link' href="/api/signout/" >
                            Выход
                        </a>
                        </li>
                        
                    <%}else{%>
                      
    
                            <li class="nav-item">
                                <a class="nav-link" href="/register" style="">
                                    Регистрация
                                </a>
                                </li>

                                <li class="nav-item">
                                <a class="nav-link"style="t" style="text-decoration: none;" href="/signin">Вход</a>
                            </li>
                    
                    <%}%>
                    </ul>
                </span>
                </div>
            </nav>



     

            <div class="table-responsive">
            <div class="">
                <div style="">

                 <table class="table table-sm">
                                    <thead>
                                        <tr>
                                        <th >Имя продавца:</th>
                                        <th >Дата поставки:</th>
                                        
                                      
                                        <th >Наименование организации:</th>
                                        <th >Название магазина:</th>
                                        <th >Aдрес:</th>
                                        
                                        <th >Наименование товара:</th>
                                        <th >Количество на складе:</th>
                                        <th >Заказаное количество:</th>
                                        <th> Смотреть фото</th>
                                        <th >Форма оплаты:</th>
                                        <th >дата старта консигнации:</th>
                                        <th >дата конеца консигнации:</th>
                                        <th >cтатус:</th>

                                       
                                        </tr>
                                    </thead>
                                    <tbody>

                    <%deal.forEach(i=>{
                        console.log('ID= ',i)
                        // console.log('i.author._id= ',i)
                        // console.log('user._id= ',user.full_name)
                        if(String(i.author._id)===String(user._id)){
                        
                        %>
                    
                                        <tr>
                                     
                                        <td><%=i.author.full_name%></td>
                                        <td><%=i.postavkaDate%></td>
                                        
                                        <td><%=i.client.nameOrganization%></td>
                                        <td><%=i.client.shopName%></td>
                                        <td><%=i.client.shopAddress%></td>

                                        <td><%=i.good.title%></td>
                                        <td><%=i.good.defaultQuantity%></td>
                                        <td><%=i.quantity%></td>
                                       
                                       
                                        <td>
                                            <a href="<%=i.good.image%>">Смотреть</a>
                                            </td>

                                        

                                        <td><%=i.payForm%></td>
                                        <td><%=i.consDateStart%></td>
                                        <td><%=i.consDateEnd%></td>
                                       
                                        <form action="/api/editstatus/"  method='POST' class="form"  >
                                            <td><b><%=i.status%></b></td>
                                            <input type="hidden" value="<%=i._id%>" name="id">
                                            <td>
                                             
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="status" id="exampleRadios1" value="inProgress" checked onchange="this.form.submit();">
                                                    <label class="form-check-label" for="exampleRadios1">
                                                    В работе
                                                    </label>
                                                </div>



                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="status" id="exampleRadios1" value="finished" onchange="this.form.submit();">
                                                    <label class="form-check-label" for="exampleRadios1">
                                                    Завершено
                                                    </label>
                                                </div>


                            
                                            </td>
                                        </form>

                                       
                                        </tr>
                                       
                                  
                        <%
                                    }
                        })%>

                        </tbody>
                        </table>

                    <div >
                        <%
                  
                       
                  for (i in user) {
                        // console.log('user._id= ',user._id)
                        }
                        posts.forEach(item=>{
                            if (item.author._id==user.id){
                                console.log('user._id= ',user._id ) 
                                console.log('item= ',item.author._id)
                                console.log('item after IF Statement= ',item)
                                
                                
                %>


                     

                      


                            

                               


                            </div>


                        </div>


                    <% }
                }) %>
                </div>
            </div>


          
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</html></div></div></body></body></html>

